{% extends 'base.html.twig' %}

{% block body %}
    {% if isOk == false %}
        <div class="alert alert-dismissible alert-danger">
        <strong>Article introuvalble</strong>
        </div>
    {% endif %}
    <h2 style="text-align: center">Liste des articles</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <!--<th>Auteur</th>-->
                <th>Article</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.titreArticle }}</td>
            <td>
                <a href="{{ path('app_article_viewarticle', {id: article.id}) }}">Consulter</a>
                <a href="{{ path('app_article_delete', {id: article.id}) }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <div>
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="{{ path('app_article_list', {page: page-1}) }}">&laquo;</a>
                </li>
                <li class="page-item active">
                <a class="page-link" href="#">{{ page }}</a>
                </li>
                <li class="page-item">
                <a class="page-link" href="{{ path('app_article_list', {page: page+1}) }}">&raquo;</a>
                </li>
            </ul>
        </div>
    </table>
{% endblock %}